name: Lint and Test
on:
  push:
    branches:
      - "**" # Run on all branches
    tags:
      - "*" # Include tags to trigger builds
  pull_request:
    branches:
      - "**" # Run on PRs targeting any branch
  workflow_call: # Allow this workflow to be called by other workflows

jobs:
  lint-test:
    name: Lint and Test Rayforge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.48.2
          cache: true
          cache-key: ${{ github.sha }}

      - name: Setup environment
        run: pixi install

      - name: Install Xvfb and Adw
        run: sudo apt-get update && sudo apt-get install -y xvfb gir1.2-adw-1

      - name: Compile Translations
        run: pixi run compile-translations

      - name: Run flake8 Lint
        run: pixi run lint

      - name: Run backend tests
        run: pixi run test -m "not ui"

      - name: Run UI tests
        run: xvfb-run pixi run uitest
